<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>
<div class="container">
    <br/>
    <div class="card">
        <div class="card-header">
            <h2 th:text="${listing.title}"></h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/1527/5153/products/pizza-slice-additional-baby-onesie-toddler-youth-tees-cole-coddle-clothing-set-2630395035700.png?v=1524839417"/>
            </div>
            <div class="col-sm-8" th:text="${listing.description}">

            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4">
                    <span class="badge" th:each="tag : ${tags}"><a th:href="@{/listing/tag/} + ${tag.value.id}" th:text="${tag.value.title}"></a></span>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-2">
                    Owner
                </div>
                <div class="col-sm-1" th:text="${listing.owner.username}"></div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-1">
                    <form th:action="@{/listing/request/} + ${listing.id}" method="post">

                        <input type="submit" value="Request"/>
                    </form>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>

    </div><br/>
    <!-- Similar Onesies By Tag -->
        <h3> Onesies You May Like </h3>
        <div class="row">
            <div class="card-deck">
                <div class="col-sm-3" th:each="listing : ${related}">
                    <div th:replace="fragments :: list-card">
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>