<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>
<div class="container">
<h4 th:text="${title}"></h4>
<a th:href="@{/admin}">Back to Admin</a>
<form th:object="${tag}" method="post">
    <label th:for="title">Tag Name</label>
    <input type="text" th:field="*{title}"/>
    <span th:errors="*{title}" class="errors"></span><br/>
    <label th:for="description">Description</label>
    <textarea th:field="*{description}"></textarea>
    <span th:errors="*{description}" class="errors"></span><br/>
    <label th:for="category">Category</label>
    <select th:field="*{category}">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"></option>
    </select>

    <input type="submit" value="Add Tag"/>
</form>
<hr/>
<table>
    <tr th:each="category : ${categories}">
        <td th:text="${category.title}"></td>
        <td>
            <table>
            <tr th:each="tag : ${category.tags}">
                <td th:text="${tag.title}"></td>
                <td th:text="${tag.description}"></td>
            </tr>

            </table></td>
    </tr>
</table>
</div>
</body>
</html>