<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>

<h3>Login to One for Onesie</h3>
<p th:if="${param.error}" class="error">
    Bad Credentials.
</p>

<form th:action="@{/user/login}" method="POST" th:object="${form}">
    User Name : <input type="text" name="username" th:field="*{username}"/><br/>
    <div th:error="*{username}"></div><br/>
    Password : <input type="password" name="password" th:field="*{password}"/> <br/>
    <div th:error="*{password}"></div><br/>
    <input type="submit" value="Login"/>
</form>

</body>
</html>