<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>

<h3>Login to One for Onesie</h3>

<form method="post" th:action="@{/user/register}" th:object="${form}">

    <label>Username: <input type="text" id="username" th:field="*{username}"/></label><br/>
    <span th:errors="*{username}"/>
    <label>Password: <input type="password" id="password" th:field="*{password}"/></label><br/>
    <label>Verify Password: <input type="password" id="verify" th:field="*{verify}"/></label><br/>
    <span th:text="${passError}"></span>
    <label>First Name: <input type="text" id="firstName" th:field="*{firstName}"/></label><br/>
    <label>Last Name: <input type="text" id="lastName" th:field="*{lastName}"/></label><br/>
    <label>Address 1: <input type="text" id="address1" th:field="*{address1}"/></label><br/>
    <label>City: <input type="text" id="city" th:field="*{city}"/></label>
    <label>State: <input type="text" id="State" th:field="*{state}"/></label>
    <label>Zipcode: <input type="text" id="zip" th:field="*{zip}"/></label><br/>
    <input type="submit" value="Submit"/>

</form>
</body>
</html>