<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title} + ' || One for Onesie'">One for Onesie</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<!--Navigation Bar-->
<div th:fragment="nav">
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <a th:href="@{/home}"><img th:src="@{~/img/logo.png}" width="150px" height="75px"/></a><br/>
            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <!--Each dropdown is a different Category-->
                    <li class="nav-item dropdown" th:each="category : ${categories}">
                        <a class="nav-link dropdown-toggle" id="navbardrop"
                           data-toggle="dropdown" th:text="${category.title}"></a>
                            <div class="dropdown-menu">
                                <a th:each="tag : ${category.tags}" class="dropdown-item"
                                   th:href="@{/listing/tag/} + ${tag.id}" th:text="${tag.title}"></a>
                            </div>
                    </li>
            <!--Core Navigation-->
            </ul>
            </div>
            <div>
                <a th:href="@{/listing/add}">Add a Onesie</a> // <a th:href="@{/user/}">My Onesies</a><br/>
                <a th:href="@{/user/login}">Login</a> //
                <a th:href="@{/user/logout}">Logout</a><br/>
                <a th:href="@{/user/register}">Register</a><br/>

            </div>

        </nav>
        <!--Message Display Block-->
        <div th:if="${message}" class="alert alert-warning" th:text="${message}"></div>
    </div>
</div>

<!--Listing Card-->
<div class="card bg-light m-2 mt-3 mb-3" th:fragment="list-card">
        <div class="card-header">
            <a th:href="@{/listing/view/} + ${listing.id}" th:text="${listing.title}"></a>
        </div>
        <a th:href="@{/listing/view/} + ${listing.id}">
        <img class="card-img-top"
             src="https://cdn.shopify.com/s/files/1/1527/5153/products/pizza-slice-additional-baby-onesie-toddler-youth-tees-cole-coddle-clothing-set-2630395035700.png?v=1524839417"/></a>
        </div>

</body>
</html>