<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>
<a href="listing/add">Add a Onesie</a><br/>
<table>
   <!-- <div th:replace="fragments :: list-card" th:each="listing: ${onesies}"></div>-->
    <tr th:each="listing : ${listings}">
        <td><a th:href="@{/listing/view/} + ${listing.id}" th:text="${listing.title}"></a></td>
        <td th:text="${listing.description}"></td>
    </tr>
</table>

<h4>listingDAO TEST</h4>
<table>
    <tr th:each="listing : ${dao}">
        <td th:text="${listing.title}"></td>
    </tr>
</table>
</body>
</html>